<a href="https://colab.research.google.com/github/santiagoprado12/cursoMLpython/blob/main/Agrupacion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Agregacion de datos por categoria

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender=["Male","Female"]
income=["Poor","Middle Class","Rich"]

In [4]:
n=500

gender_data=[]
income_data=[]

for i in range(0,500):
  gender_data.append(np.random.choice(gender))
  income_data.append(np.random.choice(income))

In [5]:
gender_data[1:10]

['Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female']

In [6]:
income_data[1:10]

['Poor',
 'Poor',
 'Poor',
 'Poor',
 'Rich',
 'Rich',
 'Middle Class',
 'Rich',
 'Middle Class']

In [16]:
#z=N(0,1)
#N(m,s)->m+s*z
height=160+30*np.random.randn(n)
weight=65+25*np.random.randn(n)
age =np.round(30+12*np.random.randn(n))
income=18000+3500*np.random.rand(n)

In [17]:
data=pd.DataFrame(
    {
        "Gender":gender_data,
     "Economic Status":income_data,
     "Height":height,
     "Weight":weight,
     "Age":age,
     "Income":income
    }
)

In [18]:
data.head()

   Gender Economic Status      Height      Weight   Age        Income
0  Female            Poor  180.597455   51.007760  14.0  20974.227728
1    Male            Poor  157.777125   58.828705  42.0  19663.450886
2  Female            Poor  125.692536   82.151447  26.0  19227.440876
3  Female            Poor  158.179447   87.182354  35.0  19233.533783
4  Female            Poor  133.480432  102.821709  45.0  20325.753272

In [21]:
##Agrupacion de datos
grouped_gender=data.groupby("Gender")

In [22]:
grouped_gender.groups

{'Female': [0, 2, 3, 4, 7, 9, 10, 12, 14, 15, 18, 20, 22, 25, 26, 28, 29, 30, 33, 35, 37, 41, 44, 45, 46, 47, 50, 52, 53, 54, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 77, 78, 79, 83, 84, 89, 90, 93, 96, 97, 100, 102, 103, 105, 106, 108, 109, 111, 112, 114, 115, 118, 119, 120, 121, 124, 125, 127, 128, 129, 130, 132, 133, 134, 137, 141, 143, 144, 145, 147, 149, 150, 152, 157, 159, 160, 161, 164, 166, 167, 168, 169, 170, 171, ...], 'Male': [1, 5, 6, 8, 11, 13, 16, 17, 19, 21, 23, 24, 27, 31, 32, 34, 36, 38, 39, 40, 42, 43, 48, 49, 51, 55, 56, 58, 68, 70, 76, 80, 81, 82, 85, 86, 87, 88, 91, 92, 94, 95, 98, 99, 101, 104, 107, 110, 113, 116, 117, 122, 123, 126, 131, 135, 136, 138, 139, 140, 142, 146, 148, 151, 153, 154, 155, 156, 158, 162, 163, 165, 173, 175, 177, 178, 181, 182, 183, 184, 185, 187, 189, 196, 197, 198, 199, 201, 205, 206, 208, 209, 210, 211, 213, 218, 219, 220, 221, 222, ...]}

In [23]:
for names,groups in grouped_gender:
  print(names)
  print(groups)

Female
     Gender Economic Status      Height      Weight   Age        Income
0    Female            Poor  180.597455   51.007760  14.0  20974.227728
2    Female            Poor  125.692536   82.151447  26.0  19227.440876
3    Female            Poor  158.179447   87.182354  35.0  19233.533783
4    Female            Poor  133.480432  102.821709  45.0  20325.753272
7    Female    Middle Class  130.447587  103.349493  30.0  18599.278792
..      ...             ...         ...         ...   ...           ...
491  Female            Poor  203.192452   86.113453  23.0  18897.564608
492  Female            Poor  116.526550   89.091527  22.0  18477.704256
494  Female            Rich  195.958539   31.511149  38.0  20398.682012
496  Female    Middle Class  180.588973   95.080851  15.0  20148.505545
499  Female            Rich  168.924144   52.885174  45.0  18486.602470

[270 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight   Age        Income
1     Male            Poor  157.777125   58.828705  42.0  19663.450886
5     Male            Rich  178.273061   84.176749  36.0  21004.125187
6     Male            Rich  223.252305   63.168789  31.0  19615.610976
8     Male            Rich  147.882472   69.102505  44.0  19890.564042
11    Male            Poor  198.746301   90.429829  29.0  19812.050858
..     ...             ...         ...         ...   ...           ...
490   Male    Middle Class  133.218176   72.467883  33.0  18904.000621
493   Male    Middle Class  153.873186   67.611925  19.0  20147.196436
495   Male            Rich  151.488806   62.933514  10.0  21350.847498
497   Male    Middle Class  142.384788  100.921528  51.0  19281.094111
498   Male    Middle Class  138.258980   42.232385  33.0  19168.886608

[230 rows x 6 columns]

In [27]:
grouped_gender.get_group('Female')

    Economic Status      Height      Weight   Age        Income
0              Poor  180.597455   51.007760  14.0  20974.227728
2              Poor  125.692536   82.151447  26.0  19227.440876
3              Poor  158.179447   87.182354  35.0  19233.533783
4              Poor  133.480432  102.821709  45.0  20325.753272
7      Middle Class  130.447587  103.349493  30.0  18599.278792
..              ...         ...         ...   ...           ...
491            Poor  203.192452   86.113453  23.0  18897.564608
492            Poor  116.526550   89.091527  22.0  18477.704256
494            Rich  195.958539   31.511149  38.0  20398.682012
496    Middle Class  180.588973   95.080851  15.0  20148.505545
499            Rich  168.924144   52.885174  45.0  18486.602470

[270 rows x 5 columns]

In [28]:
double_group=data.groupby(["Gender","Economic Status"])

In [29]:
len(double_group)

6

In [31]:
for names,groups in double_group:
  print(names)
  print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height      Weight   Age        Income
7    Female    Middle Class  130.447587  103.349493  30.0  18599.278792
9    Female    Middle Class  147.815024  123.915328  33.0  19068.636954
18   Female    Middle Class  173.189607   89.869698  30.0  19701.881680
20   Female    Middle Class  143.600818   96.536062  31.0  20670.806214
22   Female    Middle Class  147.767025   63.727876  40.0  19320.567174
..      ...             ...         ...         ...   ...           ...
472  Female    Middle Class  121.692518   96.006569  58.0  19724.228883
474  Female    Middle Class  200.322641   79.275930  34.0  20186.525552
478  Female    Middle Class  173.859164   81.876915  40.0  18723.177365
487  Female    Middle Class  131.284656   58.823208  28.0  18727.507978
496  Female    Middle Class  180.588973   95.080851  15.0  20148.505545

[87 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height      Weight   Age        Income
0    Female            Poor  180.597455   51.007760  14.0  20974.227728
2    Female            Poor  125.692536   82.151447  26.0  19227.440876
3    Female            Poor  158.179447   87.182354  35.0  19233.533783
4    Female            Poor  133.480432  102.821709  45.0  20325.753272
10   Female            Poor  138.281028   78.853349  28.0  20665.324470
..      ...             ...         ...         ...   ...           ...
475  Female            Poor  140.089216   67.389677  31.0  19708.112969
479  Female            Poor  145.659459   67.311661  21.0  19875.027522
488  Female            Poor  195.097475   56.113435  34.0  21235.049982
491  Female            Poor  203.192452   86.113453  23.0  18897.564608
492  Female            Poor  116.526550   89.091527  22.0  18477.704256

[93 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weight   Age        Income
26   Female            Rich  162.089067   50.901009  18.0  19100.231035
30   Female            Rich  161.557260   46.026022  39.0  21372.238876
41   Female            Rich  167.547651  129.980326  18.0  19279.436217
46   Female            Rich  178.486309   56.923198  46.0  20115.601447
50   Female            Rich  139.618104   21.620312  52.0  18726.079882
..      ...             ...         ...         ...   ...           ...
469  Female            Rich  114.477791   58.652333  42.0  18678.562214
480  Female            Rich  187.448920   60.495097  30.0  19025.971479
486  Female            Rich  155.171868   89.929868  21.0  20328.578134
494  Female            Rich  195.958539   31.511149  38.0  20398.682012
499  Female            Rich  168.924144   52.885174  45.0  18486.602470

[90 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight   Age        Income
19    Male    Middle Class  182.545247   32.993037  31.0  21260.044608
24    Male    Middle Class  116.448925   38.842518  48.0  20313.062901
31    Male    Middle Class  126.519483   86.233483  26.0  21267.904686
36    Male    Middle Class  150.815393   30.294648  44.0  19391.976475
39    Male    Middle Class  148.137022   83.131816  21.0  18483.176716
..     ...             ...         ...         ...   ...           ...
489   Male    Middle Class  122.394601   56.091156  26.0  19020.771200
490   Male    Middle Class  133.218176   72.467883  33.0  18904.000621
493   Male    Middle Class  153.873186   67.611925  19.0  20147.196436
497   Male    Middle Class  142.384788  100.921528  51.0  19281.094111
498   Male    Middle Class  138.258980   42.232385  33.0  19168.886608

[74 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height      Weight   Age        Income
1     Male            Poor  157.777125   58.828705  42.0  19663.450886
11    Male            Poor  198.746301   90.429829  29.0  19812.050858
13    Male            Poor  179.477882   52.912044  35.0  19528.312094
17    Male            Poor  160.553342  117.125403  23.0  20708.002126
23    Male            Poor  211.056740   80.944964  58.0  21176.756627
..     ...             ...         ...         ...   ...           ...
440   Male            Poor  204.603939   94.555748  33.0  21349.469534
441   Male            Poor  122.824303   50.137985  60.0  20283.506344
445   Male            Poor  176.592304   62.814533  31.0  18720.199785
457   Male            Poor  183.640804   91.131979  23.0  18554.605268
485   Male            Poor  124.470434   83.210453  17.0  18979.067983

[88 rows x 6 columns]
('Male', 'Rich')
    Gender Economic Status      Height      Weight   Age        Income
5     Male            Rich  178.273061   84.176749  36.0  21004.125187
6     Male            Rich  223.252305   63.168789  31.0  19615.610976
8     Male            Rich  147.882472   69.102505  44.0  19890.564042
16    Male            Rich  152.083314   60.965058   9.0  20291.267044
21    Male            Rich  181.090405  102.727939  22.0  19254.009029
..     ...             ...         ...         ...   ...           ...
463   Male            Rich  134.541664   51.625361  32.0  20193.724441
470   Male            Rich  125.737426   81.972092  28.0  21385.124705
477   Male            Rich  172.402394   44.932857  16.0  18442.243302
483   Male            Rich  167.970649   41.637026  31.0  18756.107337
495   Male            Rich  151.488806   62.933514  10.0  21350.847498

[68 rows x 6 columns]