<a href="https://colab.research.google.com/github/santiagoprado12/cursoMLpython/blob/main/Ejemplo_de_diferentes_carga_de_datos_con_read_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os

In [ ]:
mainpath="/Users/santi/OneDrive/Documents/Curso machine learning con python/Repositorio/python-ml-course/datasets"
filename="titanic/titanic3.csv"
#fullpath=mainpath+"/"+filename
fullpath=os.path.join(mainpath,fullpath) #tiene funciones que ayuda a corregir errores en la sintaxis de la ruta

In [ ]:
fullpath

'/Users/santi/OneDrive/Documents/Curso machine learning con python/Repositorio/python-ml-course/datasets/titanic/titanic3.csv'

In [ ]:
data=pd.read_csv(fullpath)

In [ ]:
data.head()

In [ ]:
data2=pd.read_csv(mainpath+"/"+"customer-churn-model/Customer Churn Model.txt")

In [ ]:
data2.head()

In [ ]:
data2.columns.values

**Cambiar el nombre de las columnas**

In [ ]:
data_cols=pd.read_csv(mainpath+"/"+"customer-churn-model/Customer Churn Columns.csv")
data_col_list=data_cols["Column_Names"].tolist()
data_col_list
data2=pd.read_csv(mainpath+"/"+"customer-churn-model/Customer Churn Model.txt",
                  header=None, names=data_col_list)
data2.columns.values

# **Carga de datos a traves de la funcion open**

In [ ]:
data3=open(mainpath+"/"+"customer-churn-model/Customer Churn Model.txt","r")

In [ ]:
cols=data3.readline().strip().split(",")
n_cols=len(cols)

In [ ]:
counter=0
main_dict={}
for col in cols:
    main_dict[col]=[]

In [ ]:
for line in data3:
    values=line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter+=1
print("El dataset tiene %d filas y %d columnas"%(counter, n_cols))

El dataset tiene 3333 filas y 21 columnas

In [ ]:
df3=pd.DataFrame(main_dict)
df3.head()

# **Leer y escribir en fichero**

In [ ]:
infile=mainpath+"/"+"customer-churn-model/Customer Churn Model.txt"
outfile=mainpath+"/"+"customer-churn-model/Tab Customer Churn Model.txt"

In [ ]:
with open(infile,"r") as infile1:
    with open(outfile,"w") as outfile1:
        for line in infile1:
            fields=line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [ ]:
df4=pd.read_csv(outfile, sep="\t")
df4.head()

# **Leer datos de una URL**

In [ ]:
import csv
import urllib3

In [ ]:
medals_url="http://winterolympicsmedals.com/medals.csv"

In [ ]:
http=urllib3.PoolManager()
r=http.request('GET',medals_url)
r.status
response=r.data

In [ ]:
data_dict={}
res=str(response).replace("b\"","")
datos=res.split("\\n")
name_col=datos[0].split(",")

In [ ]:
datos.remove(datos[0])

In [ ]:
for name in name_col:
    data_dict[name]=[]

In [ ]:
for data in datos:
    valor=data.split(",")
    for i,val in enumerate(name_col):
        data_dict[val].append(valor[i])

In [ ]:
 dframe=pd.DataFrame(data_dict)  
 dframe.head()

In [ ]:
medals_data=pd.read_csv(medals_url)

In [ ]:
medals_data.head()

**SOLUCION EJERCICIO PROPUESTO**

In [13]:
import urllib3

In [12]:
medals_url="http://winterolympicsmedals.com/medals.csv"

In [15]:
http=urllib3.PoolManager()
r=http.request('GET',medals_url)
print(f"el estado ce la respuesta es: {r.status}")
response=r.data

el estado ce la respuesta es: 200

**Decodificamos el string binario**

In [16]:
str_data=response.decode('utf-8')

In [22]:
lines=str_data.split("\n")
col_names=datos[0].split(",")
n_cols=len(col_names)

In [23]:
counter=0
main_dict={}
for col in col_names:
    main_dict[col]=[]

In [28]:
for line in lines:
    values=line.strip().split(",")
    for i in range(len(col_names)):
        main_dict[col_names[i]].append(values[i])
    counter+=1
print("El data set tiene %d filas y %d columnas"%(counter, n_cols))
medals_df=pd.DataFrame(main_dict)
print(medals_df.head())

El data set tiene 4624 filas y 8 columnas
   Year      City      Sport      Discipline  NOC       Event  Event gender  \
0  Year      City      Sport      Discipline  NOC       Event  Event gender
1  1924  Chamonix    Skating  Figure skating  AUT  individual             M
2  1924  Chamonix    Skating  Figure skating  AUT  individual             W
3  1924  Chamonix    Skating  Figure skating  AUT       pairs             X
4  1924  Chamonix  Bobsleigh       Bobsleigh  BEL    four-man             M

    Medal
0   Medal
1  Silver
2    Gold
3    Gold
4  Bronze

In [30]:
mainpath="/Users/santi/OneDrive/Documents/Curso machine learning con python/Repositorio/python-ml-course/datasets"
filename="athletes/downloaded_medals."
fullpath=os.path.join(mainpath,filename)

In [31]:
medals_df.to_csv(fullpath+"csv")
medals_df.to_json(fullpath+"json")
medals_df.to_excel(fullpath+"xls")

# **FICHEROS TIPO XLS Y XLSX**

In [4]:
mainpath="/Users/santi/OneDrive/Documents/Curso machine learning con python/Repositorio/python-ml-course/datasets"
filename="titanic/titanic3.xls"

In [5]:
titanic2=pd.read_excel(mainpath+"/"+filename,"titanic3")

In [6]:
titanic3=pd.read_excel(mainpath+"/"+filename,"titanic3")

In [9]:
titanic3.to_csv(mainpath+"/titanic/titanic_custom.csv")

In [10]:
titanic3.to_csv(mainpath+"/titanic/titanic_custom.xls")

In [11]:
titanic3.to_json(mainpath+"/titanic/titanic_custom.xls")